#Local .terraform files
**/.terraform.*

# Terraform state files
*.tfstate
*.tfstate.*

# crash log files
crash.log

#Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

#Terragrunt Files
.terragrunt-cache